extends layout

block content

  .frontSection
    br
    br
    br
    br
    .title1 Face It

    p(class="center indie") The smart way to learn about your consumers
    form(action="/" method="POST")
      input(type="text" class="hashtagSearch" name="hashtag" placeholder="enter a hashtag")
      button(type="submit" id="searchButton") search
    
    
    
    div(id="loadBar")
      div(id="loader")
    //-   h3(class='headerMiddle') About
    h1(class="hidden") #{info}
    br
    br
    br
